
html, body{
  font-family: 'Hind Guntur';
  background-color: #EEE2DC;
  padding-bottom: 10em;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.main-div{
  padding-bottom: 14.3em;
  padding-left: 10em;
  padding-right: 20em;
}

nav .navbar-brand{
  display: flex;
  align-items: center;
  margin-bottom: 5em;
  justify-content: space-between;
}

#about-link{
  text-decoration: none;
  margin-right: 2em;
}

.navbar-start{
  margin-left: 1em;
  font-size: 2em;
  font-weight: 120em;
  color: white;
}
.name-container{
  display: flex;
}

form .input{
  width: 12em;
  margin-top: 2em;
}

form .room-code{
  padding-top: 23em;
  margin-top: 2em;
}

#join-game-form {
  width: 305px;
  height: 300px;
  margin: 70px;
  position: relative;
  color: white;
  font-family: Arial;
  text-align: center
  }

  #join-game{
    margin-bottom: 2em;
  }
}

.card {
  margin-top: 2em;
  margin-bottom: 3em;
  margin-right: 2em;
  margin-left: 2em;
  border-radius: 8px;
  margin-bottom: 12px;
  /* height: 10em; */
}

.create-game-main {
  padding-left: 8em;
  padding-right: 8em;
}
