
html, body{
  font-family: 'Hind Guntur';
  background-color: #EEE2DC;
  padding-bottom: 10em;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}


a{
  color: white;
}


nav{
  font-family: "Hind Guntur";
  height: 5em;
  /* background-color: #AC3B61; */
  background-color: rgb(47, 48, 49);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#about-link{
  text-decoration: none;
  margin-right: 2em;
  justify-content: flex-end;
}

.navbar-start{
  font-size: 2em;
  font-weight: 120em;
  color: white;
  align-items: center;
  margin-left: 20em;
}

img{
    width: 11em;
    height: 13em;
    border-radius: 0.5em;
    box-shadow:  -3px 4px 4px 0 rgb(85, 84, 84);
    margin: 1.5em;
    border-radius: 1em;
 }

#card-container{
  display: flex;
  justify-content: center;
  border-radius: .5em;
  width: 40em;
  scroll-behavior: smooth; 
  margin: 4em auto;
  box-shadow: inset 0px 1px 16px 8px #846a6a;
  display: flex;
  flex-wrap: wrap;
}

.typist{
  opacity: 1;
}

.where-am-i{
  opacity: 1;
}

.game-link{
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  #card-container {
    width: 80%;
  }
}

  .typist {
    border-radius: 2em;
  }

  
