
html, body{
  font-family: 'Hind Guntur';
  background-color: #EEE2DC;
  padding-bottom: 10em;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

nav{
  height: 5em;
  background-color: #AC3B61;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#about-link{
  text-decoration: none;
  margin-right: 2em;
  justify-content: flex-end;
}

.navbar-start{
  margin-left: 1em;
  font-size: 2em;
  font-weight: 120em;
  color: white;
}

.name-container{
  display: flex;
}

#button-container{
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.game-container{
  margin: 0 0 2em 0;
}

#join-game{
  color: white;
  background-color: #AC3B61;
  margin-bottom: 2em;
  margin-top: 6em;
  padding: 0.7em 0.9em 0.7em 0.9em;
  border-radius: 0.5em;
}

.create-game-button{
  color: white;
  background-color: #AC3B61;
  margin: 3em 0 4em 0;
  padding: 0.79em 0.9em 0.79em 0.9em;
  border-radius: 0.5em;
  }


form .input{
  width: 12em;
  margin-top: 2em;
}

form .room-code{
  padding-top: 23em;
  margin-top: 2em;
}

  img{
    width: 10em;
    height: 12em;
    padding: 1em 1em 0em 1em;
  }

  input{
    border: none;
    border-radius: 0.5em;
    box-shadow: -3px 5px 9px 0px rgb(85, 84, 84);
    height: 1.5rem;
    width: 6rem;
  }
  .name-input{
    margin-right: 1rem;
  }

  .room-code-input{
    margin-left: 1rem;
  }

  #card-container{
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0, 0.2);
    border-radius: .5em;
    /* height: 30em; */
    width: 40em;
    /* overflow-y: scroll; */
    scroll-behavior: smooth; 
    margin: 4em;
    box-shadow: inset -8px 4px 16px 8px #846a6a;
  }

  figure{
    border: 0.1em solid #EEE2DC;
    background-color: white;
    border-radius: 0.5em;
    box-shadow:  -3px 4px 11px 0 rgb(85, 84, 84);
    margin: 1.5em;
  }
  
  figure .title-container{
    display: flex;
    justify-content: center;
  }

  p .title{
    margin: 0;
  }

  .join-game{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .create-game{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .game-link{
    color: black;
    text-decoration: none;
  }

  /* game css */

