body{
  background-color: white; 
}
.nonhost-waiting-for-category {
    /* display: inline-block; */
    float: right;
    border: none;
    padding: 2rem 4rem;
    margin: 0 1em;
    text-decoration: none;
    background: white;
    /* color: #ffffff; */
    color: white;
    font-family: sans-serif;
    font-size: 3rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
    border: 1px solid rgb(61, 7, 21);
    border-radius: 7em;
    width: 5em;

}

.nav-container{
  width: 100%;
}

.pickcategory-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.pick-category-title {
  font-weight: 500;
  font-size: 2em;
  text-align: center;
  background-color: white;
  margin: 1em 0 0 0;
}

.pick-a-category-hr{
  width: 16em;
}

.button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
}

.category-list-item {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  text-decoration: none;
  /* color: #ffffff; */
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  border-radius: 1.5em;
  margin: 1em 0 1em 0;
  width: 14em;
  height: 4em;
}

.confirm-button{
  width: 11em;
  height: 3em;
  border-radius: 4em;
  font-size: 2em;
}

.chosen-category {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 2em;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 2rem;
  cursor: pointer;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
  /* border: 3px solid rgb(28, 70, 133); */
  border: 3px solid rgb(226, 161, 39);
  border-radius: 0.5em;
  width: 20em;
  font-weight: 900;
  text-align: center;
}

.confirm-button-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: white;
  width: 100%;
  height: 10em;
  
}

.question-item {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 2em;
    text-decoration: none;
    background: #fffefc;
    color: black;
    font-family: sans-serif;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
    /* border: 3px solid rgb(28, 70, 133); */
    /* border: 3px solid rgb(226, 161, 39); */
    border-radius: 0.5em;
    width: 20em;
    font-weight: 400;
    text-align: center;
}


#hand{
  background-color: #76B3FC;
}

#count{
  background-color:#F7CBA9;
}

#point{
  background-color: #FC6A9D;
}

#hand:focus,
#count:focus,
#point:focus{
  outline: none;
}

@media screen and (min-width: 300px){
  .category-list-item{
    font-size: .7em;
  }
  .pick-category-title{
    font-size: .9em;
  }
  .confirm-button{
    margin-top: 0em;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 360px){
  .category-list-item{
    font-size: 1em;
  }
  .pick-category-title{
    font-size: 1em;
  }
  .confirm-button{
    font-size: 1.5em;
  }
}

@media screen and (min-width: 360px){
  .pick-category-title{
    font-size: 1em;
  }
  .confirm-button{
    font-size: 1.5em;
  }
}

@media screen and (min-width: 376px){
  .pick-category-title{
    font-size: 1em;
  }
  .confirm-button{
    font-size: 2em;
  }
  .pick-category-title{
    font-size: 2em;
  }
}

@media screen and (min-width: 1000px){
  .pick-category-title{
    font-size: 2em;
    margin-top: 3em;
  }
  .category-list-item{
    font-size: 1em;
  }
  .confirm-button-footer{
    padding-top: 2em;
  }
  .confirm-button{
  width: 17em;
  height: 5em;
  border-radius: 4em;
  font-size: 1.5em;
  }
}

@media screen and (min-width: 1500px){
  .pick-category-title{
    font-size: 3em;
  }
  .category-list-item{
    font-size: 1em;
  }
  .confirm-button-footer{
    padding-top: 5em;
  }
  .confirm-button{
  width: 18em;
  height: 12em;
  border-radius: 4em;
  font-size: 2em;
  }
}
