.non-host-category-body{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: 30em;
  background-color: white;
  word-break: break-word;
  text-align: center;
}

.host-is-choosing-category{
  font-size: 4em;
  font-weight: 800;
  margin: 0 1em 0 1em;
}

.non-host-cat-footer{
  width: 100%;
  height: 24.22em;
  background-image: linear-gradient(-41deg, rgb(127, 139, 255), rgb(0, 239, 216));




}
.pac-man-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pac-man {
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 3em;
  margin-right: 9em;
  border-radius: 100em 100em 0 0;
  transform-origin: bottom;
  animation: eating-top .5s infinite;
}
  .pac-man, .pac-man::before {
    width: 70px;
    height: calc(70px/2);
    background: #fed75a;
  }
  
  .pac-man::before {
    content: '';
    display: block;
    margin-top: calc(70px/2);
    position: absolute;
    transform-origin: top;
    border-radius: 0 0 100em 100em;
    transform: rotate(80deg);
    animation: eating-bottom .5s infinite;
  }
  
  .pac-man::after {
    position: absolute;
    border-radius: 100em;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    margin-top: calc((70px / 2) - 10px);
    margin-left: calc((70px / 2) - 10px);
    transform-origin: center;
    animation: 
      center .5s infinite,
      ball .5s -.33s infinite linear;
  }

@keyframes eating-top{
  0%{ transform: rotate(-40deg); }
  50% { transform: rotate(0deg); }
  100%{ transform: rotate(-40deg); }
}

@keyframes eating-bottom{
  0%{ transform: rotate(80deg); }
  50% { transform: rotate(0deg); }
  100%{ transform: rotate(80deg); }
}

@keyframes center{
  0%{ transform: rotate(40deg); }
  50% { transform: rotate(0deg); }
  100%{ transform: rotate(40deg); }
}

@keyframes ball{
  0%{ 
    opacity: .7;
    box-shadow: 
      70px 0 0 0 #fed75a,
      120px 0 0 0 #fed75a,
      170px 0 0 0 #fed75a,
      220px 0 0 0 #fed75a
    ;
  }
  100% { 
    box-shadow: 
      20px 0 0 0 #fed75a,
      70px 0 0 0 #fed75a,
      120px 0 0 0 #fed75a,
      170px 0 0 0 #fed75a
    ;
  }
  
}


@media screen and (min-width: 320px){
  .host-is-choosing-category{
    font-size: 1.2em;
  }
  .non-host-category-body{
    height: 15em;
  }
  .non-host-cat-footer{
    height: 30em;
  }
}

@media screen and (min-width: 800px){
  .host-is-choosing-category{
    font-size: 3em;
  }
}


@media screen and (min-width: 1024px){
  .non-host-cat-footer{
    height: 51.5em;
  }
  .non-host-category-body{
    height: 20em;
  }
}

@media screen and (min-width: 2000px){
  .non-host-cat-footer{
    height: 200em;
  }
}

@media screen and (min-height: 1000px){
  .non-host-category-body{
    height: 30em;
  }
}