.question-container{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: 30em;
  background-color: white;
  word-break: break-word;
}

.question{
  font-size: 4em;
  font-weight: 800;
  margin: 0 1em 0 1em;
}

.question-footer{
  width: 100%;
  height: 11.22em;
}

@media screen and (max-width: 800px){
  .question{
    font-size: 3em;
  }
}

@media screen and (max-width: 325px){
  .question{
    font-size: 2em;
  }
  .question-container{
    height: 15em;
  }
}

@media screen and (max-width: 375px){
  .question{
    font-size: 1.5em;
  }
  .question-container{
    height: 30em;
  }
}

@media screen and (min-width: 1024px){
  .question-footer{
    height: 51.5em;
  }
}

@media screen and (min-width: 2000px){
  .question-footer{
    height: 61.7em;
  }
}