.rules-main-container {
  /* background-color: antiquewhite; */
  /* align-items: center; */
  align-items: center;
  text-align: center;
  
}

.rules-title {
    align-items: center;
    text-align: center;
    /* background-color: rgb(122, 209, 209); */
    background-color: rgba(65, 250, 248, 0.74);
    font-size: 3em;
    margin: 0;
    padding: .5em;
}

.rules-container {
    /* align-items: center; */
    align-items: left;
    text-align: center;
    display: flex;
    justify-content: center;
    /* background-color: antiquewhite; */
    border-radius: .5em;
    width: 30em;
    margin: 2em auto;
    /* box-shadow: inset -8px 4px 16px 8px #846a6a; */
    display: flex;
    flex-wrap: wrap;
}

/* .par-1 {
  background-color: aqua;
  margin: .5em 3em .5em 3em;
  border-radius: 20px;
  padding: 0.5em;
  /* /* width: 100px; */
  /* height: 50px; */
  /* transform: skew(15deg); */
    /* background: #555;
  border-top: 25px;
  border-left: 50px;
  border-bottom: 100px;
/* } */

.par-1 {
    /* width: 140px;
    height: 100px; */
    margin: .5em 3em .5em 3em;
    padding: 0.5em;
    background: #72cbff;
    position: relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    transform: skew(10deg);
        border-width: thick;
        border-style: solid;
        border-color: black;
}

.par-1:after {
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  right: 38px;
  position: absolute;
  border-top: 26px solid #72cbff;
  border-left: 13px solid black;
  border-right: 13px solid black;
}

.par-2 {
    margin: .5em 3em .5em 3em;
    padding: 0.5em;
    background: #DCF798;
    position: relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    transform: skew(-10deg);
    border-width: thick;
    border-style: solid;
    border-color: black;
}

.par-2:after {
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 38px;
  position: absolute;
  border-top: 26px solid #DCF798;
  border-left: 13px solid black;
  border-right: 13px solid black;
  border-style: solid;
}

.par-3 {
    margin: .5em 3em .5em 3em;
    padding: 0.5em;
    background: #DD72E3;
    position: relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    transform: skew(-10deg);
    border-width: thick;
    border-style: solid;
    border-color: black;
    }

.par-3:after {
      content: "";
      width: 0;
      height: 0;
      top: 100%;
      left: 38px;
      position: absolute;
      border-top: 26px solid #DD72E3;
      border-left: 13px solid black;
      border-right: 13px solid black;
      border-style: solid;
    }

.par-4 {
    margin: .5em 3em .5em 3em;
    padding: 0.5em;
    background: #72cbff;
    position: relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    transform: skew(10deg);
    border-width: thick;
    border-style: solid;
    border-color: black;
    }

    .par-4:after {
      content: "";
      width: 0;
      height: 0;
      top: 100%;
      right: 148px;
      right: 50%;
      position: absolute;
      border-top: 26px solid #72cbff;
      border-left: 13px solid black;
      border-right: 13px solid black;
      border-style: solid;
    }

.par-5 {
    margin: .5em 3em .5em 3em;
    padding: 0.5em;
    background: #DCF798;
    position: relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    transform: skew(10deg);
    border-width: thick;
    border-style: solid;
    border-color: black;
    }

    .par-5:after {
      content: "";
      width: 0;
      height: 0;
      top: 100%;
      left: 38px;
      position: absolute;
      border-top: 26px solid #DCF798;
      border-left: 13px solid black;
      border-right: 13px solid black;
      border-style: solid;
    }

.par-6 {
    margin: .5em 3em .5em 3em;
    padding: 0.5em;
    background: #DD72E3;
    position: relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    transform: skew(-10deg);
    border-width: thick;
    border-style: solid;
    border-color: black;
    }

    /* .par-6:after {
      content: "";
      width: 0;
      height: 0;
      top: 100%;
      left: 38px;
      position: absolute;
      border-top: 26px solid #DD72E3;
      border-left: 13px solid black;
      border-right: 13px solid black;
      border-style: solid;
    } */

.par-7 {
    margin: .5em 3em .5em 3em;
    padding: 0.5em;
    background: #72cbff;
    position: relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border-width: medium;
    border-style: solid;
    border-color: black;
    font-size: 2em;
    font-weight: bold;
}

@media screen and (max-width: 992px) {
  .rules-main-container {
    width: 100%;
  }
   .rules-container {
     width: 80%;
   }

   .rules-title {
     font-size: 2em;
   }
}

@media screen and (max-width: 600px) {
   .rules-main-container {
     width: 100%;
   }

   .rules-container {
     width: 80%;
   }

   .rules-title {
     font-size: 2em;
   }
   /* .par-1 .par-2 .par-3 .par-4 .par-5 .par-6 {
     font-size: .5em;
   } */

}

.rules-start-game-button {
    align-items: center;
    text-align: center;
    width: 6em;
    height: 2em;
    border-radius: 4em;
    font-size: 2em;
    border-color: rgb(129, 128, 128);
    border-style: solid;
    margin: .5em;
}

@media screen and (min-width: 992px) {
  .rules-main-container {
    width: 100%;
  }

  .rules-container {
    width: 60%;
  }

  .rules-title {
    font-size: 2em;
  }
}