body{
  font-family: "Acme";
}

.rules-title {
    align-items: center;
    text-align: center;
    /* background-color: rgb(122, 209, 209); */
    background-color: rgba(65, 250, 248, 0.74);
    font-size: 3em;
    margin: 0;
    padding: .5em;
}

.rules-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.par-1 {
    display: flex;
    align-items: center;
    height: 6em; 
    margin: 2em 3em .5em 3em;
    padding: 0.5em;
    background: #72cbff;
    position: relative;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
}

.par-1:after {
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  right: 38px;
  position: absolute;
  border-top: 26px solid #72cbff;
  border-left: 13px solid white;
  border-right: 13px solid white;
}

.par-2 {
    display: flex;
    align-items: center;
    text-align: center;
    margin: .5em 3em .5em 3em;
    height: 3em;
    padding: 0.5em;
    background: #DCF798;
    position: relative;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
}

.par-2:after {
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 9em;
  position: absolute;
  border-top: 26px solid #DCF798;
  border-left: 13px solid white;
  border-right: 13px solid white;
  border-style: solid;
}

.par-3 {
    display: flex;
    align-items: center;
    height: 3em;
    margin: .5em 3em .5em 3em;
    padding: 0.5em;
    background: #DD72E3;
    position: relative;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    }

.par-3:after {
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  right: 38px;
  position: absolute;
  border-top: 26px solid #DD72E3;
  border-left: 13px solid white;
  border-right: 13px solid white;
}

.par-4 {
    display: flex;
    align-items: center;
    height: 3em;
    margin: .5em 3em .5em 3em;
    padding: 0.5em;
    background: #72cbff;
    position: relative;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    }

    .par-4:after {
      content: "";
      width: 0;
      height: 0;
      top: 100%;
      right: 25em;
      position: absolute;
      border-top: 26px solid #72cbff;
      border-left: 13px solid white;
      border-right: 13px solid white;
      border-style: solid;
    }

.par-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 3em;
    margin: .5em 3em .5em 3em;
    padding: 0.5em;
    background: #DCF798;
    position: relative;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    }

    .par-5:after {
      content: "";
      width: 0;
      height: 0;
      top: 100%;
      left: 38px;
      position: absolute;
      border-top: 26px solid #DCF798;
      border-left: 13px solid white;
      border-right: 13px solid white;
      border-style: solid;
    }

.par-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3em;
    margin: .5em 3em .5em 3em;
    padding: 0.5em;
    background: #DD72E3;
    position: relative;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    }


.par-7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: .5em 3em .5em 3em;
    padding: 0.5em;
    background: #72cbff;
    position: relative;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 1em;
    font-size: 2em;
    font-weight: bold;
}

.rules-start-game-button {
    align-items: center;
    text-align: center;
    width: 6em;
    height: 2em;
    border-radius: 4em;
    font-size: 2em;
    border-color: rgb(129, 128, 128);
    border-style: solid;
    margin: .5em;
}

@media screen and (min-width: 300px){
  .par-1,
  .par-2,
  .par-3,
  .par-4,
  .par-5,
  .par-6,
  .par-7{
    width: 15em;
    word-break: break-word;
    text-align: center;
    height: 5em;
  }
  .par-4::after{
    right: 9em;
  }
  .rules-title{
    font-size: 2em;
  }
  .par-1{
    margin-top: 0.4em;
  }
  .rules-container{
    margin-bottom: 2em;
  }
  .par-6{
    margin-bottom: 0em;
  }
}


@media screen and (min-width: 375px){
  .par-1,
  .par-2,
  .par-3,
  .par-4,
  .par-5,
  .par-6,
  .par-7{
    width: 13em;
    word-break: break-word;
    text-align: center;
    height: 8em;
  }
  .rules-title{
    font-size: 2em;
  }
  .par-1{
    margin-top: 1em;
  }
  .rules-container{
    margin-bottom: 2em;
  }
  .par-2::after{
    left: 2em;
  }
  .par-4::after{
    left: 2em;
  }
  .par-5::after{
    left: 9em;
  }
}

@media screen and (min-width: 600px){
  .par-2,
  .par-4,
  .par-6{
    width: 25em;
  }
  .par-1,
  .par-3,
  .par-5{
    width: 23em;
  }
  .par-2::after{
    left: 3em;
  }
}

@media screen and (min-width: 900px){
  .par-1,
  .par-3,
  .par-5,
  .par-7{
    width: 30em;
    word-break: break-word;
    text-align: center;
    height: 4em;
    font-size: 1.2em;
  }
  .par-2,
  .par-4,
  .par-6{
    width: 40em;
    height: 4em;
  }
  .par-1{
    margin-top: 1em;
  }
  .par-2::after{
    left: 3em;
  }

  .par-4::after{
    right: 2em;
  }
  .par-5::after{
    left: 28em;
  }
}

@media screen and (min-width: 2000px){
  .par-1,
  .par-3,
  .par-5,
  .par-7,
  .par-2,
  .par-4,
  .par-6{
    font-size: 3em;
  }
  .rules-title{
    font-size: 8em;
  }
}