.timer-style {
  font-size: 4em;
  font-family: "Acme";
  color: grey;
  /* align-content: right; */
  /* text-align: right; */
  /* position: absolute; */
  /* position: fixed; */
  margin: .5em;
  background-color: rgb(233, 227, 227);
  padding: .1em .5em .1em .5em;
  border-radius: 35px;
  float: right;
}

@media screen and (min-width: 325px) {
  .timer-style {
    font-size: 2em;
  }
}

@media screen and (min-width: 400px) {
  .timer-style {
    font-size: 2em;
  }
}


@media screen and (min-width: 800px) {
  .timer-style {
    font-size: 2em;
  }
}


@media screen and (min-width: 1024px) {
  .timer-style{
    font-size: 2em;
  }
}

@media screen and (min-width: 2000px) {
  .timer-style{
    font-size: 5em;
  }
}