body{
  font-family: "Acme";
  font-weight: 200;
}

.voting-main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.the-question-was{
  font-size: 2em;
}

.the-question{
  font-size: 2em;
  margin: 1em 2em 2em 2em;
}

.voting-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.voting-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-voting-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vote-count-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.vote-count{
  background-color: black;
  border-radius: 20em;
  height: 1.8em;
  width: 1.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 1px 1px 8px 2px #363535;
  color: white;
}

.voting-player-names{
  font-size: 1em;
}

.vote-button-name{
  font-family: "Acme";
  color: white;
  margin: 0 0.2em 0.3em 0;
  font-size: 2em;
  font-weight: 400;
}

.voting-instructions{
  margin-top: 4em;
  font-size: 2em;
}

.player-vote-button{
  background-color:  #ff568e;
  border-radius: 0.5em;
  font-size: 1em;
  width: 14em;
  height: 6em;
  border: none;
  margin: 1.8em;
  margin-top: 0em;
  border-radius: 4em; 
  box-shadow: -5px 5px 13px #616161;
}

.player-vote-button:focus{
  outline: none;
}

.voting-hr{
  width: 18em;
}

@media screen and ( min-width: 320px){
  .the-question{
    font-size: 0.8em;
  }
  .the-question-was{
    font-size: 0.8em;
    margin-bottom: 0em;
  }
  .question-container{
    height: 15em;
  }
  .voting-instructions{
    margin-top: 0.5em;
  }
  .player-vote-button{
    font-size: 1em;
    width: 14em;
    height: 4em;
  } 
  .player-voting-card{
    display: flex;
  }
}

@media screen and (min-width: 360px){
  .the-question{
    font-size: 1em;
  }
  .voting-main-container{
    height: 14em;
  }
  .the-question-was{
    font-size: 1em;
  }
  .player-vote-button{
    font-size: 1em;
    margin-top: 2em;
  }
  .voting-instructions{
    margin-top: 3em;
  }
  .voting-list-container{
    margin-top: 8em;
  }
}

@media screen and (min-width: 600px){

  .the-question{
    font-size: 2em;
  }
  .the-question-was{
    font-size: 2em;
  }
  .question-container{
    height: 15em;
  }
  .voting-instructions{
    margin-top: 5em;
    font-size: 2em;
  }
  .player-vote-button{
    font-size: 1.5em;
  }
}

@media screen and (min-width: 800px){
  .the-question{
    font-size: 2em;
  }
  .the-question-was{
    font-size: 2em;
  }
  .voting-instructions{
    padding-top: 0;
  }
  .voting-column{
    margin-top: 1em;
  }
}


@media screen and (min-width: 1024px){
  .voting-footer{
    height: 31.9em;
  }
  .voting-main-container{
      height: 15em;
  }
  .the-question-was{
    font-size: 2em;
    margin-bottom: 0em;
  }
  .the-question{
    font-size: 2em;
    margin-bottom: 4em;
  }
  .voting-hr{
    display: none;
  }
  .voting-instructions{
    font-size: 3em;
  } 

  .voting-column{
    margin-top: 0em;
    padding-top: 0em;
    width: 50%;
    float: left;
  }
    
  .player-voting-card{
    margin: 6em 28em 2em 4em;
    font-size: 1em;
  }

  .voting-card-container{
    margin-top: 5em;
  }
  .player-vote-button{
  font-size: 1em;
  width: 16em;
  height: 5em;
  border: none;
  margin: 1.8em;
  border-radius: 4em; 
  }
  .vote-button-name{
    margin-right: 0.6em;
  }}


@media screen and (min-width: 2000px){
  .question-footer{
    height: 62.7em;
  }
  .the-question{
    font-size: 4em;
  }
  .player-vote-button{
    font-size: 1em;
    width: 12em;
    height: 8em;
    border: none;
    margin: 1.8em;
    border-radius: 4em; 
  }
}
