
  #game-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    color:black;
    width: 100%;  
  }

  .nav-player-name{
    font-size: 3em;
    font-weight: bolder;
  }
