body{
  font-family: "Acme";
  font-weight: 200;
}

.lobby-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 8em;
  width: 100vw;
  background-color: rgba(65, 250, 248, 0.74);
}

.title{
  font-family: "Acme";
  font-size: 4em;
  font-weight: 800;
}

.wingit-main-container {
  background-color:white;
  height: 76.9em;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.generated-room-code {
  font-family: "Acme";
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: 2em;
  font-weight: 500;
  padding-top: 2em;
}

#room-code{
  font-family: "Acme";
  font-size: 2em;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center
}

.room-code-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr{
  width: 5em;
}

button:focus,
button:active{
  outline: none;
}

.create-game-hr{
  margin-top: 2em;
  width: 20rem;
}

.error-container{
  margin-top: 0.5em;
  width: 100%;
  text-align: center;
}

.error{
  font-family: "Acme";
  padding-top: 1em;
  color: red;
  font-size: 1.5em;
}

.create-game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-game-header,
.join-game-header{
  font-family: "Acme";
  font-size: 2em;
  color: black;
  font-weight: 600;
}

.join-game-header{
  font-family: "Acme";
  margin-top: 1em;
}

input{
  font-family: "Acme";
  display: block;
  justify-content: center;
  margin: 1em 0 2em 0;
  width: 15em;
  height: 2em;
  font-size: inherit;
  font-weight: bolder;
  padding: 0.5em;
  box-shadow: -3px 6px 10px rgba(22, 23, 23, 0.74);
  border: none;
  border-radius: 0.4em;
  text-align: center;
}

.join-game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-game-form{
  font-family: "Acme";
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:focus{
  outline: none;
}

.name-field{
  font-family: "Acme";
  width: 15em;
  height: 2em;
  font-size: inherit;
  font-weight: bolder;
}


.lobby-join-game-form{
  font-family: "Acme";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lobby-create-game-button,
.join-game-button,
.start-game-button{
  font-family: "Acme";
  background-color: #ff568e;
  border-radius: 0.5em;
  font-size: 1.5em;
  width: 10em;
  height: 2em;
  border: none;
  color: white;
}

.start-game-button{
  font-family: "Acme";
  margin-top: 2em;
}

.join-game-button{
  margin-top: 1em;
}


button:hover{
  box-shadow: -3px 6px 10px rgba(22, 23, 23, 0.74);
  cursor: pointer;
}

.player-menu-card{
  font-family: "Acme";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  background-color:#ff568e;
  border-radius: 0.6em;
  width: 16em;
  height: 4em;
  margin: 2em 0 2em 0;
  box-shadow: -3px 6px 10px rgba(22, 23, 23, 0.74);
}
/* 
@media screen and (min-width: 320px){
  .title{
    font-size: 2em;
  }
  .lobby-nav{
    height: 6em;
  }
  .join-game-header{
    margin-top: 0em;
  }
  .create-game-header{
    margin-top: 0.1em;
  }
  .name-field{
    margin: 0.2em;
  }
  .generated-room-code {
    padding-top: 1em;
    font-size: 1em;
  }
  
  #room-code{
    font-size: 2em;
  }
}

@media screen and (min-width: 330px){
  .create-game-header{
    margin-top: 0.1em;
  }
  .column{
    width: 50%;
    float: left;
  }
  .player-menu-card{
    margin: 3em 26em 2em 3.5em;
    font-size: 0.55em;
  }

  .generated-room-code{
    padding-top: 0.5em;
    font-size: 2em;
  }
  .join-game-header{
    margin-top: 1em;
  }
  .name-field{
    margin: 1em;
  }
  
} */

@media screen and (min-width: 700px){
  .column{
    width: 50%;
    float: left;
  }

  .title{
    font-size: 4em;
  }
  .lobby-nav{
    height: 8em;
  }
  .join-game-header{
    margin-top: 0em;
  }
  .create-game-header{
    margin-top: 1em;
  }
  
  .player-menu-card{
    margin: 6em 28em 2em 4em;
    font-size: 1em;
  }

  .generated-room-code{
    font-size: 2em;
    padding-top: 1em;
  }
}

@media screen and (min-width: 1024px){
  body{
    font-size: 1em;
  }
  .wingit-main-container{
    height: 85.2em;
  }
  .create-game-header{
    margin-top: 2em;
  }
  .generated-room-code{
    font-size: 2em;
  }
}
